# Maven
target/
*.jar
*.war
*.ear

# Gradle
.gradle/
build/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# IDEs
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS
Thumbs.db
.DS_Store

# Misc
*.log
temp/
tmp/
Upload/
*.csv
# *.json
